<!DOCTYPE html>
<html>
<head>
<style>
.button {
  border: double;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: royalblue;
  color: white;
  font-size: 200%;
  font-family: verdana;
  border: 10px double black;
}

.button1:hover {
  background-color: white;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}
/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: royalblue;
}

/* selected link */
a:active {
  color: blue;
}
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}

</style>
</head>
<body>

<button class="button button1">Green</button>
<button class="button button2">Blue</button>

</body>
</html>
